.cards {
  /*fonts*/
}

.cards__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 17px 20px;
}

.card {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0 auto;
  justify-items: center;
  max-width: 880px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 282px;
  border-radius: 10px;

}

.card__image {
  width: 282px;
  height: 282px;
}

.card__description {
  display: flex;
  background-color: #f2f2f2;
  color: black;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
}

.card__title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

}

.card__like-button {
  background-image: url(../images/like-inactive.svg);
  background-position: center;
  border: none;
  height: 18px;
  width: 21px;
  margin-left: auto;
}
