.footer {
  max-width: 880px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #545454;
  padding-top: 67px;
}

.footer__copyright {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 282px;
    padding-top: 48px;
    padding-bottom: 36px;
  }
  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
  }
}
