.header {
  background-color: black;
  max-width: 880px;
  min-height: 33px;
  color: white;
  padding-top: 42px;
  border-bottom: 1px solid #545454;
  width: 100%;
}

.header__logo {
  margin-bottom: 41px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .header {
    padding-bottom: 32px;
    width: 100%;
    margin: 0;
  }
  .header__logo {
    height: 24px;
    width: 126px;
    padding-left: 27px;
  }
}
