.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  padding: 0 19px;
  display: none;
  visibility: hidden;
}

.modal_opened {
  display: flex;
  visibility: visible;
}

.modal__container {
  margin: auto;
  position: relative;
  background-color: #fff;
  width: 430px;
  max-width: 100%;
  padding: 36px;
  border-radius: 10px;
}

.modal__close {
  background-image: url(../images/close-icon.svg);
  border: none;
  position: absolute;
  cursor: pointer;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  width: 40px;
  height: 40px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
}

.modal__close:hover {
  opacity: 0.6;
}

.modal__heading {
  color: #000;
  max-width: 330px;
  max-height: 23px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
}

.modal__form {
  display: flex;
  flex-direction: column;
  margin-top: 54px;
  max-width: 430px;
  max-height: 330px;
}

.modal__input {
  margin-bottom: 20px;
  padding: 13px 0px;
  color: #000000;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: none;
  border-bottom: rgba(0, 0, 0, 0.2) 1px solid;
}

.modal__button {
  background-color: #000;
  border: none;
  border-radius: 2px;
  margin-top: 41px;
  height: 50px;
  color: #ffffff;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  padding: 10px 15px;
  cursor: pointer;
  height: 50px;
}

.modal__button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 630px) {
  .modal__close {
    bottom: calc(100% + 30px);
    left: calc(100% - 30px);
    width: 26px;
    height: 26px;
  }

  .modal__container {
    width: 282px;
    height: 322px;
    padding: 22px;
  }

  .modal__heading {
    max-width: 238px;
    height: 22px;
    margin: 0;
  }

  .modal__form {
    margin-top: 62px;
  }
}
