.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  padding: 0 19px;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
  display: flex;
  pointer-events: none;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  transition: visibility 0s, opacity 0.5s linear;
}

.modal__container {
  position: relative;
  background-color: #fff;
  padding: 36px;
  border-radius: 10px;
  flex-basis: min-content;
  max-width: 430px;
}

.modal__preview-container {
  position: relative;
  margin: 0 auto;
  padding: 0;
  margin-top: 90px;
}

.modal__preview-image {
  max-width: 75vw;
  max-height: 75vh;
}

.modal__preview-title {
  margin: 10px 0;
  line-height: 1.2;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
}

.modal__close {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  width: 40px;
  height: 40px;
  background-image: url(../images/close-icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 0.5s linear;
}

.modal__close:hover {
  opacity: 0.6;
  cursor: pointer;
}

.modal__form {
  max-width: 430px;
}

.modal__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  color: #000;
  max-width: 330px;
  max-height: 23px;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
}

.modal__button {
  background-color: #000;
  width: 358px;
  height: 50px;
  border-radius: 2px;
  margin-top: 45px;
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  background-size: 109px 18px;
  cursor: pointer;
  transition: opacity 0.5s linear;
  border: none;
}

.modal__button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.modal__button_inactive {
  background-color: #ffffff;
  border-color: rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.2);
  pointer-events: none;
  border: 1px solid #000000;
  border-radius: 2px;
}

.modal__delete-card-button {
  height: 50px;
  width: 100%;
  margin-top: 13px;
  padding: 0 auto;
}

.modal__input {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  width: 100%;
  height: 27px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.modal__input:first-of-type {
  margin-top: 75px;
}

.modal__error_visible {
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  left: 0;
  position: relative;
  top: calc(100% + 5px);
  transition: opacity 0.3s ease;
  min-height: 15px;
}

.modal__error {
  min-height: 30px;
  display: block;
}

.modal__input_type_error {
  border-bottom: 1px solid #ff0000;
}

@media screen and (max-width: 640px) {
  .modal {
    padding: 0;
  }

  .modal__container {
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 10px;
    flex-basis: min-content;
    max-width: 238px;
  }

  .modal__close {
    width: 26px;
    height: 26px;
    right: 10px;
    bottom: calc(100% + 13px);
    left: calc(100% - 30px);
    padding-bottom: 13px;
  }

  .modal__heading {
    font-size: 18px;
    line-height: 22px;
    margin: 0;
  }

  .modal__button {
    width: 238px;
    height: 46px;
    margin-top: 45px;
    background-size: 38px 18px;
    font-size: 14px;
    line-height: 17px;
    border: none;
  }

  .modal__input {
    max-width: 238px;
  }

  .modal__input:first-of-type {
    margin-top: 75px;
    margin-bottom: 30px;
  }
}
